html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
select,
textarea {
  font: inherit;
}
optgroup {
  font-weight: bold;
}
button,
input,
select {
  overflow: visible;
}
button,
input,
select,
textarea {
  margin: 0;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}
[disabled] {
  cursor: default;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #222;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
*::selection {
  background-color: rgba(3,171,255,0.6);
}
*::-moz-selection {
  background-color: rgba(3,171,255,0.6);
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background-color: #272727;
  color: #dcdee0;
  font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, 'PingFange SC', 'Source Han Sans CN', 'Noto Sans SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
  line-height: 1.5;
  font-size: 14px;
}
a:link {
  color: #009fb7;
  text-decoration: none;
  transition: color 0.2s;
}
a:visited {
  color: #009fb7;
}
a:hover {
  color: #009fb7;
}
a:active {
  color: #009fb7;
}
input[type=radio],
input[type=checkbox] {
  transform: translateZ(0);
}
h1 {
  font-size: 30px;
  line-height: 1;
  font-weight: bold;
}
h2 {
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
}
h3 {
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
}
h4 {
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
}
h5 {
  font-size: 14px;
  line-height: 1;
  font-weight: bold;
}
h6 {
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
}
ul {
  list-style: square inside;
}
ol {
  list-style: decimal inside;
}
li {
  line-height: 2;
}
blockquote {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-left: 5px solid #e5b547;
  padding: 10px 16px;
  background-color: #272727;
  box-shadow: 0 2px 2px rgba(0,0,0,0.75);
}
article {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}
article header {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;
  margin-bottom: 20px;
}
article header * {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;
}
article footer {
  margin-top: 10px;
  font-size: 12px;
  color: #8a8f99;
}
.iconfont {
  font-size: inherit;
}
.kute-box {
  display: block;
  flex: 1;
}
.kute-article {
  line-height: 1.8;
  text-align: justify;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mask {
  background: rgba(105,103,115,0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.k-notifications {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: stretch;
  justify-content: flex-end;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0 !important;
}
.bounce-drop-enter-active {
  transition: top 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.bounce-drop-leave-active {
  transition: top 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.bounce-drop-enter,
.bounce-drop-leave-to {
  top: -50px !important;
}
.bottom-in-enter-active,
.bottom-in-leave-active {
  transition: transform, opacity 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.bottom-in-enter,
.bottom-in-leave-to {
  transform: translateY(100%);
  opacity: 0;
}
.bounce-zoom-in-enter-active,
.bounce-zoom-in-leave-active {
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.bounce-zoom-in-leave-active {
  transition: all 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.bounce-zoom-in-enter,
.bounce-zoom-in-leave-to {
  transform: scale(0.7) !important;
  opacity: 0 !important;
}
.-flex {
  display: flex !important;
}
.-inline-flex {
  display: inline-flex !important;
}
.-inline {
  display: inline-block !important;
}
.-flex-wrap {
  flex-wrap: wrap !important;
}
.-flex-column {
  flex-direction: column !important;
}
.-relative {
  position: relative !important;
}
.-scroll {
  overflow: auto !important;
}
.-no-border {
  border: 0 !important;
}
.-faded {
  opacity: 0 !important;
}
.-nowrap {
  white-space: nowrap !important;
}
.-sharp-corner-1,
[sharp-corner-1] {
  border-top-left-radius: 0 !important;
}
.-sharp-corner-2,
[sharp-corner-2] {
  border-top-right-radius: 0 !important;
}
.-sharp-corner-3,
[sharp-corner-3] {
  border-bottom-right-radius: 0 !important;
}
.-sharp-corner-4,
[sharp-corner-4] {
  border-bottom-left-radius: 0 !important;
}
.-no-outline {
  outline: none !important;
}
.-block {
  width: 100% !important;
}
.-small {
  font-size: 12px !important;
}
.-large {
  font-size: 18px !important;
}
.-primary-bg {
  background-color: #0287c8 !important;
}
.-info-bg {
  background-color: #009fb7 !important;
}
.-success-bg {
  background-color: #00c246 !important;
}
.-warn-bg {
  background-color: #f7990c !important;
}
.-error-bg {
  background-color: #f24236 !important;
}
.-primary-bg:active {
  background-color: #0277b0 !important;
}
.-info-bg:active {
  background-color: #008ca1 !important;
}
.-success-bg:active {
  background-color: #00ab3e !important;
}
.-warn-bg:active {
  background-color: #dd8707 !important;
}
.-error-bg:active {
  background-color: #f02315 !important;
}
.-primary-border {
  border-color: #0287c8 !important;
}
.-info-border {
  border-color: #009fb7 !important;
}
.-success-border {
  border-color: #00c246 !important;
}
.-warn-border {
  border-color: #f7990c !important;
}
.-error-border {
  border-color: #f24236 !important;
}
.-primary-text {
  color: #0287c8 !important;
}
.-info-text {
  color: #009fb7 !important;
}
.-success-text {
  color: #00c246 !important;
}
.-warn-text {
  color: #f7990c !important;
}
.-error-text {
  color: #f24236 !important;
}
.-primary-gradient {
  background: linear-gradient(to right, #02699c, #0287c8) !important;
}
.-info-gradient {
  background: linear-gradient(to right, #007c8f, #009fb7) !important;
}
.-success-gradient {
  background: linear-gradient(to right, #009737, #00c246) !important;
}
.-warn-gradient {
  background: linear-gradient(to right, #c47806, #f7990c) !important;
}
.-error-gradient {
  background: linear-gradient(to right, #d91b0e, #f24236) !important;
}
/*# sourceMappingURL=src/stylus/main.css.map */