.mask
  background alpha(#696773, 0.8)
  absCover(fixed)
  &.-local
    position: absolute !important

.k-notifications
  position fixed
  width 100%
  bottom 0
  left 0
  display flex
  flex-direction column-reverse
  align-items stretch
  justify-content flex-end