.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to {
  opacity: 0 !important
}

.bounce-drop-enter-active, .bounce-drop-leave-active {
  transition: top .5s $ease-in-out-back
}
.bounce-drop-enter, .bounce-drop-leave-to {
  top: -50px !important
}