ph($value)
  padding-left: $value
  padding-right: $value

pv($value)
  padding-top: $value
  padding-bottom: $value

aspectHeight($percentage=100%, $position='after') 
  &:{$position}
    content: ' '
    display: block
    height: 0
    visibility: hidden
    padding-bottom: $percentage

cover()
  width: 100%
  height: 100%

flexCenter($inline = false)
  if $inline
    display: inline-flex
  else
    display: flex
  justify-content: center
  align-items: center