smooth()
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

unsmooth()
  -webkit-font-smoothing: subpixel-antialiased
  -moz-osx-font-smoothing: unset
  *
    -webkit-font-smoothing: subpixel-antialiased
    -moz-osx-font-smoothing: unset