iosSmoothScroll()
  overflow-y: auto
  -webkit-overflow-scrolling: touch

smoothFont()
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

unsmoothFont()
  -webkit-font-smoothing: subpixel-antialiased
  -moz-osx-font-smoothing: unset
