
// 参考资料：https://2012.heygrady.com/blog/2011/08/06/recreating-photoshop-drop-shadows-in-css3-and-compass/
psShadow($color, $alpha, $angle, $distance, $spread, $size, $inset = false)
  $angle = (180 - $angle) * PI / 180
  $h-offset = round(cos($angle) * $distance)
  $v-offset = round(sin($angle) * $distance)
  $css-spread = ($size * $spread / 100)
  $blur = $size - $css-spread
  ($inset ? inset : null) $h-offset $v-offset $blur $css-spread alpha($color, $alpha)

psPosition($x = 0, $y = 0, $w, $h)
  position: absolute
  left: $x
  top: $y
  width: $w
  height: $h
