psShadow($ruleName, $inset, $color, $alpha, $angle, $distance, $spread, $size)
   {$ruleName}: ($inset ? inset : null) $distance * cos(180deg - $angle) $distance * sin(180deg - $angle) $size $spread alpha($color, $alpha)