ellipsis($line = 1)
  overflow-x: hidden
  text-overflow: ellipsis
  if $line > 1
    overflow-y: hidden
    display: -webkit-box
    -webkit-line-clamp: $line
    -webkit-box-orient: vertical
  else
    white-space: nowrap