/* reset all */
normalize-css()

global-reset()

border-box-html()

*::selection
  background-color: alpha($theme-primary-lighter, 60%)

*::-moz-selection
  background-color: alpha($theme-primary-lighter, 60%)

*
  smoothFont()