/* reset all */
normalize-css()

global-reset()

border-box-html()

fluid-media()
// print-styles()

// selection color
// *::-moz-selection { color: red}
*::selection
  background-color: $theme-secondary-darker