/* global color variables */

$theme-primary = #0287c8
$theme-primary-lighter = lighten($theme-primary, 22%)
$theme-primary-darker = darken($theme-primary, 22%)

$theme-secondary = #E5B547
$theme-secondary-lighter = lighten($theme-secondary, 10%)
$theme-secondary-darker = darken($theme-secondary, 10%)

$black = lightness(black, 15%)
$black-lighter = lightness(black, 19%)
$black-darker = lightness(black, 13%)