/* global font variables */

$sans = 'Helvetica Neue', HelveticaNeue, Helvetica, 'PingFange SC', 'Source Han Sans CN', 'Noto Sans SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif

$default-font-size = 14px

$font-size-h1 = 30px
$font-size-h2 = 24px
$font-size-h3 = 18px
$font-size-h4 = 16px
$font-size-h5 = 14px
$font-size-h6 = 12px