/* global shadow variable */

$shadow-basic = 0 2px 2px alpha(#000, .75)

$shadow-float = 0 2px 25px alpha(#000, .15), 0 13px 25px alpha(#000, .3), 0 0 45px alpha(#000, .2)

$shadow-material = 0 1px 5px alpha(#000, .5), 0 2px 2px alpha(#000, .34), 0 3px 1px alpha(#000, .32)

$shadow-embossment = inset 0 2px 4px alpha(#fff, .5), inset 0 -2px 4px alpha(#000, .5)