/* global shadow variable */

$shadow-basic = 0 2px 2px alpha(black, .75)

$shadow-float = 0 2px 25px alpha(black, .15), 0 13px 25px alpha(black, .3), 0 0 45px alpha(black, .2)

$shadow-material = 0 1px 5px alpha(black, .5), 0 2px 2px alpha(black, .34), 0 3px 1px alpha(black, .32)

$shadow-embossment = inset 0 2px 4px alpha(white, .5), inset 0 -2px 4px alpha(black, .5)