body
  background-color $page-background-color
  color $default-text-color
  font-family $default-font-stack
  line-height $default-line-height

a
  &:link
    color $theme-primary-lighter
    text-decoration none
    transition color .2s
  &:visited
    color $theme-primary-lighter
  &:hover
    color $theme-primary
  &:active
    color $theme-primary
  
  