body
  background-color $page-background-color
  color $default-text-color
  font-family $default-font-stack
  line-height $default-line-height
  font-size $default-font-size

a
  &:link
    color $state-info
    text-decoration none
    transition color .2s
  &:visited
    color $state-info
  &:hover
    color $state-info
  &:active
    color $state-info


input[type=radio], input[type=checkbox]
  transform translateZ(0)