.-flex
  display flex !important

.-inline-flex
  display inline-flex !important

.-inline
  display inline-block !important

.-flex-wrap
  flex-wrap wrap !important

.-flex-column
  flex-direction column !important

.-relative
  position relative !important

.-scroll
  overflow auto !important

.-overflow
  overflow visible !important

.-no-overflow
  overflow hidden !important

.-scroll-x
  overflow-x auto !important

.-scroll-y
  overflow-y auto !important

.-no-border
  border 0 !important

.-faded
  opacity 0 !important

.-nowrap
  white-space nowrap !important

.-sharp-corner-1, [sharp-corner-1]
  border-top-left-radius 0 !important

.-sharp-corner-2, [sharp-corner-2]
  border-top-right-radius 0 !important

.-sharp-corner-3, [sharp-corner-3]
  border-bottom-right-radius 0 !important

.-sharp-corner-4, [sharp-corner-4]
  border-bottom-left-radius 0 !important