.-flex
  display: flex !important

.-inline-flex
  display: inline-flex !important

.-inline
  display: inline !important

.-flex-wrap
  flex-wrap: wrap !important

.-flex-column
  flex-direction: column !important

.-no-border
  border: 0 !important

