.-primary-bg
  background-color $theme-primary !important

.-info-bg
  background-color $state-info !important

.-success-bg
  background-color $state-success !important

.-warn-bg
  background-color $state-warn !important

.-error-bg
  background-color $state-error !important

.-primary-bg:active
  background-color darken($theme-primary, 12%) !important

.-info-bg:active
  background-color darken($state-info, 12%) !important

.-success-bg:active
  background-color darken($state-success, 12%) !important

.-warn-bg:active
  background-color darken($state-warn, 12%) !important

.-error-bg:active
  background-color darken($state-error, 12%) !important

.-primary-border
  border-color $theme-primary !important

.-info-border
  border-color $state-info !important

.-success-border
  border-color $state-success !important

.-warn-border
  border-color $state-warn !important

.-error-border
  border-color $state-error !important

.-primary-text
  color $theme-primary !important

.-info-text
  color $state-info !important

.-success-text
  color $state-success !important

.-warn-text
  color $state-warn !important

.-error-text
  color $state-error !important

.-primary-gradient
  background linear-gradient(to right, darken($theme-primary, 22%), $theme-primary) !important

.-info-gradient
  background linear-gradient(to right, darken($state-info, 22%), $state-info) !important

.-success-gradient
  background linear-gradient(to right, darken($state-success, 22%), $state-success) !important

.-warn-gradient
  background linear-gradient(to right, darken($state-warn, 22%), $state-warn) !important

.-error-gradient
  background linear-gradient(to right, darken($state-error, 22%), $state-error) !important